.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 22vw; /* Adjust width as needed */
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
  }
  
  .dropdown-item {
    font-size: 10pt;
    padding: 7px;
    margin-left: 7px;
    cursor: pointer;
    color: black; /* Set text color to black */
  }