.card2 {
  width: 100px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  color: white;
  background: linear-gradient(to right, #4a5568, #2d3748);
  transform: scale(1);
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .card2 {
    width: 80%;
  }

  .card2:hover {
    transform: scale(1.1);
  }
}

.card2 h3 {
  font-weight: bold;
}

.right-column {
  flex: 1;
  overflow: auto;
  padding: 10px;
  height: 100vh;
  margin-top: 20px;
  text-align: center;
  color: white;
}

.right-column::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .container1 {
    display: flex;
    flex-direction: column;
  }

  .left-column {
    flex: 1;
  }

  .right-column {
    flex: 2;
    margin-top: 40px;
  }

  .card2 {
    width: 80%;
  }
}
